h1{
    margin-left: 350px;
    color: royalblue;
}

table {
    text-align: center;
    width: 80%;
    height: 150px;
}
.darkorange{
    background-color: yellow;
}
.abc{
    background-color: darkorange;
}
.bcd{
    color: royalblue;

}





